body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f3f6fa;
}

header {
    text-align: center;
    padding: 20px 10px;
    background: linear-gradient(90deg, #1a5faa, #1fa370);
    color: white;
}

header h1 {
    margin: 0;
    font-size: 26px;
}

header h2 {
    margin: 5px 0 10px 0;
    font-weight: 300;
    font-size: 16px;
}

.authors {
    font-size: 13px;
    opacity: 0.9;
}

#matrix-container {
    position: relative;
    width: 1960px;
    height: 960px;
}

/* Le select au centre du graphe */
#visualisation {
    position: relative;
    top: 20px;
    left: 20%;

    z-index: 10;
    padding: 4px 8px;
    font-size: 14px;
}
